[submodule "saleor"]
	path = saleor
	url = https://github.com/redsquaresoftware/saleor.git
[submodule "saleor-storefront"]
	path = saleor-storefront
	url = https://github.com/redsquaresoftware/saleor-storefront.git
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = https://github.com/redsquaresoftware/saleor-dashboard.git
